{% extends 'base.html' %}

{% block content %}
{% include 'mandalore/includes/nav.html' %}

<h1>{{title}}</h1>

<ul>
    {% for p in posts %}
    {% if p.is_published %}
    <li>
        <h2>{{p.title}}</h2>
        <li><div class="article-panel">
            <p class="first">Категория: {{ p.cat }}</p>
            <p class="last">Дата: {{ p.time_update|date:"d-m-Y H:i:s" }}</p>
        </div>
        {% if p.photo %}
    <p><img src="{{ p.photo.url }}" alt="{{ p.title }}" style="max-width: 300px;"></p>
{% endif %}
        <p>{{p.content}}</p>
        <p><a href="{{ p.get_absolute_url }}">Читать пост</a></p>
        {% if not forloop.last %}
        <hr>
        {% endif %}
    </li>
    {% endif %}
    {% endfor %}
</ul>

{% include 'mandalore/includes/nav.html' %}
{% endblock %}